[project]
name = "llama-index-practice"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "ipykernel>=7.1.0",
    "llama-index>=0.14.13",
    "python-dotenv>=1.2.1",
]
